.Global{
	width: 500px;
	height: 500px;
  	text-align: center;
  	display:table-cell;
}
#visu{
	margin-left: 125px;
	float: left;
	background: #FFFFFF ;
}
#marge{
	width: 30px;
}
#desc{
  	text-align: center;
  	background: #abc;
}
